{% extends 'base.html.twig' %}

{% block title %}Detalle tarea{% endblock %}

{% block body %}
    <!-- Flash Message register success -->
    {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-box task-detail">
                        <div class="media mt-0 m-b-30">
                            <div class="media-body">
                                <h1 class="media-heading mb-0 mt-0">{{ task.title }}</h1>
                                {% if task.priority == 'HIGH' %}
                                    <span class="badge badge-danger">Alta</span>
                                {% else %}
                                    <span class="badge badge-success">Normal</span>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <h4 class="m-b-20">Responsable: {{ task.user.name }} {{ task.user.surname }}</h4>
                        <h5 class="m-b-20">Email: {{ task.user.email }}</h5>
                        <hr>
                        <h5 class="m-b-20">Descripción :</h5>
                        <p class="text-muted">
                            {{ task.content }}
                        </p>
                        <hr>
                        <ul class="list-inline task-dates m-b-0 mt-5">
                            <li>
                                <h5 class="m-b-5">Fecha de inicio:</h5>
                                <p>{{ task.createdAt|date("d/m/Y")}}</p>
                            </li>
                            <li>
                                <h5 class="m-b-5">Fecha de Entrega:</h5>
                                <p>{{ task.deliveryDate|date("d/m/Y")}}</p>
                            </li>
                            <li>
                                <h5 class="m-b-5">Estado:</h5>
                                {%  if task.completed == 'YES' %}
                                    <span class="badge badge-success">Finalizada</span>
                                {% else %}
                                    <span class="badge badge-warning">En progreso...</span>
                                {% endif %}
                            </li>
                        </ul>
                        <hr>
                        <div class="clearfix"></div>
                        <div class="assign-team mt-4">
                            <h5 class="m-b-5">Assign to</h5>
                            <p>{{ task.user.name }} {{ task.user.surname }}</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- container -->
    </div>
{% endblock %}
