{% extends 'base.html.twig' %}

{% block title %}Todas las tareas{% endblock %}

{% block body %}
    <!-- Flash Message delete task success -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if app.user %}
        {% set user_id = app.user.id %}
        {# dump(user_id) }} #}
    {% endif %}
    <h2>Lista de tareas.</h2>
    <hr>
    <div class="container mt-3">
        <h4>Buscar tarea:</h4>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <div class="add-task">
            <a href="{{ path('task_create') }}"><span class="material-icons add">add_box</span></a>
        </div>
        <br>
        {% if tasks %}
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>TAREA</th>
                    <th>RESPONSABLE</th>
                    <th>HRS PRESUP</th>
                    <th>PRIORIDAD</th>
                    <th>ESTADO</th>
                    <th>FECHA DE ENTREGA</th>
                    <th>ACCIONES</th>
                </tr>
                </thead>
                <tbody id="myTable">
                 {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.user.name }} {{ task.user.surname }}</td>
                            <td>{{ task.hours }}</td>
                            <td>
                                {% if task.priority == 'HIGH' %}
                                    {{ 'Alta' }}
                                {% elseif task.priority == 'NORMAL' %}
                                    {{ 'Normal' }}
                                {% else %}
                                    {{ 'Baja' }}
                                {% endif %}
                            </td>
                            <td>
                                {% if task.completed == 'YES' %}
                                    {{ 'Finalizada' }}
                                {% else %}
                                    {{ 'En progreso...' }}
                                {% endif %}
                            </td>
                            <td>{{ task.deliveryDate|date("d/m/Y") }}</td>
                            <td>
                                <a href="{{ path('task_detail', {'id':task.id}) }}" class="view" title="View" data-toggle="tooltip">
                                    <i class="material-icons view">&#xE417;</i>
                                </a>
                                {# Show only the creator of the task #}
                                {% if task.user.id == user_id  %}
                                    <a href="{{ path('task_edit', {'id':task.id}) }}" class="edit" title="Edit" data-toggle="tooltip">
                                        <i class="material-icons edit">&#xE254;</i>
                                    </a>
                                    <a href="{{ path('task_delete',{'id':task.id}) }}" class="delete" title="Delete" data-toggle="modal" data-target="#delete_task_Modal">
                                        <i class="material-icons delete">&#xE872;</i>
                                    </a>

                                    {#
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete_task_Modal">
                                        Launch demo modal
                                    </button>
                                    #}

                                    <!-- Modal -->
                                    <div class="modal fade" id="delete_task_Modal" tabindex="-1" role="dialog" aria-labelledby="delete_task_ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar {{ task.title }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro que deseas eliminar la tarea?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger Modal-delete" data-dismiss="modal">Cancelar</button>
                                                    <a href="{{ path('task_delete',{'id':task.id}) }}" class="btn btn-danger Modal-delete" data-dismiss="modal">Eliminar</a>
                                                    {# <button type="button" class="btn btn-primary Modal-delete">Eliminar</button> #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               {% endif %}
                            </td>
                        </tr>
                 {% endfor %}
                </tbody>
            </table>
        {% else %}
            <strong> No hay ninguna tarea actualmente.</strong>
        {% endif %}
    </div>

    {#
    <!-- User login -->
    {% if app.user %}
        dump(app.user)
        <div class="mb-3">
            You are logged in as {{ app.user.username }},
            <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}
    #}


{% endblock %}
