{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Nueva tarea:</h1>
    {{ form_start(taskForm) }}
        {{ form_row(taskForm.title) }}
        {{ form_row(taskForm.content) }}
        {{ form_row(taskForm.hours) }}
        {{ form_row(taskForm.priority) }}
        {{ form_row(taskForm.delivery_date) }}
        <button type="submit" class="btn">Añadir tarea</button>
    {{ form_end(taskForm) }}

{% endblock %}
